<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Projectoria</title>
</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="100">

<div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close">
            <span class="icofont-close js-menu-toggle"></span>
        </div>
    </div>
    <div class="site-mobile-menu-body"></div>
</div>

<nav class="navbar navbar-expand-lg js-site-navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="/templates/index.html">Projectoria</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false">
            <span><img class="menu-img" th:src="@{/icons/menu.svg}" src="" alt="menu-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#about-us-block">О нас</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Проекты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#site-footer">Контакты</a>
                </li>
            </ul>
            <ul class="site-menu navbar-nav ms-auto mb-2 mb-lg-0">
                <li class=" nav-item signin-button"><a href="/sign/in">Войти</a></li>
                <li class=" nav-item signup-button"><a href="/sign/up">Регистрация</a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="untree_co-hero pb-0" id="home-section">
    <div class="container">
        <div class="row">
            <div class="row align-items-center">

                <div class="col-lg ms-auto">
                    <div class="intro">

                        <div class="excerpt" data-aos="fade-up" data-aos-delay="100">
                            <span class="caption">Добро пожаловать</span>
                            <h2 class="font-weight-bold">Projectoria -</h2>
                            <p>Это платформа для публикации ваших проектов. Здесь вы можете поделиться своей работой с
                                миром и увидеть проекты других талантливых
                                пользователей. Наша платформа открыта для всех, кто хочет показать свои работы,
                                независимо от того, профессионал вы или
                                новичок в своей области.
                            </p>
                        </div>
                        <p data-aos="fade-up" data-aos-delay="200">
                            <a href="/templates/signup.html" class="btn btn-primary smoothscroll mr-1">Зарегистрироваться</a>
                            <a href="/templates/signin.html" class="btn btn-outline-primary smoothscroll">Войти</a>
                        </p>
                    </div>
                </div>


                <div class="col-lg ms">
                    <div class="illustration">
                        <img th:src="@{/icons/preview.svg}" src="" alt="Image" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="untree_co-section">
    <div class="container">

        <div class="row mb-5">
            <div class="col-12 text-center" data-aos="fade-up" data-aos-delay="0">
                <!-- <span class="caption">О нас</span> -->
                <h2 class="heading">Наша медиа-платформа</h2>
                <p>предоставляет множество возможностей для раскрытия вашего потенциала</p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 mb-4" data-aos="fade-up" data-aos-delay="100">
                <div class="service horizontal d-flex">
                    <div class="service-contents">
                        <h3>Регистрируйтесь</h3>
                        <p>на нашей платформе, чтобы все узнали о ваших работаx. Мы предоставляем
                            множество инструментов для публикации проектов.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mb-4" data-aos="fade-up" data-aos-delay="200">
                <div class="service horizontal d-flex">
                    <div class=" service-contents">
                        <h3>Создавайте</h3>
                        <p>уникальные проекты, которые обязательно привлекут внимание других пользователей.
                            Мы ценим ваш креатив и изобретательность.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mb-4" data-aos="fade-up" data-aos-delay="300">
                <div class="service horizontal d-flex">
                    <div class="service-contents">
                        <h3>Выкладывайте</h3>
                        <p>созданные вами работы, чтобы больше людей увидели ваши труды.
                            Мы открыты новым идеям и хотим показать ваши проекты всему миру.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mb-4" data-aos="fade-up" data-aos-delay="400">
                <div class="service horizontal d-flex">
                    <div class="service-contents">
                        <h3>Вдохновляйтесь</h3>
                        <p id="about-us-block">работами других пользователей. Мы уверены, что наша платформа
                            станет для вас источником мотивации и поможет развить креатив.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="untree_co-section" id="about-section">
    <div class="container">
        <div class="row justify-content-between mb-5">
            <div class="col-lg-8 mb-4 mb-lg-0" data-aos="fade-up" data-aos-delay="100">
                <img src="/static/icons/about.svg" alt="Image" class="img-fluid  d-block mx-auto" id="about_svg">
            </div>
            <div class="col-lg-4">
                <div class="mb-4" data-aos="fade-up" data-aos-delay="0">
                    <span class="caption">О нас</span>
                    <h2 class="heading">Projectoria - </h2>
                </div>
                <div class="mb-4" data-aos="fade-up" data-aos-delay="100">
                    <p>это сервис для размещения проектов, созданный в рамках курсовой работы.
                    </p>
                    <p>В настоящее время сфера медиа-технологий стремительно развивается, и
                        медиа-платформы становятся все более востребованными. Projectoria предоставляет
                        удобные инструменты и интерфейс для публикации проектов и просмотра работ других
                        людей.</p>
                    <p>Мы всегда рады новым пользователям и надеемся, что вам понравится
                        наш сервис.
                    </p>
                </div>
            </div>
        </div>

        <div class="row pt-5">
            <div class="col-12 mb-5" data-aos="fade-up">
                <span class="caption">Про нас</span>
                <h2 class="heading">Команда сервиса</h2>
            </div>
            <div class="col-6 col-lg-4 team-box" data-aos="fade-up" data-aos-delayt="100">
                <img th:src="@{/img/photo1.jpg}" src="" alt="Image"
                     class="img-fluid mb-3 w-10 rounded-circle people_img">
                <h3 class="h5 font-weight-bold">Соболева Элина Петровна</h3>
                <p>
                    Студентка Финансового Университета при Правительстве РФ, создатель медиа-платформы
                    Projectoria. Элина занимается реализацией функционала, интерфейса и дизайна сервиса.
                </p>
            </div>
            <div class="col-6 col-lg-4 team-box" data-aos="fade-up" data-aos-delayt="200">
                <img th:src="@{/img/photo1.jpg}" src="" alt="Image"
                     class="img-fluid mb-3 w-10 rounded-circle people_img">
                <h3 class="h5 font-weight-bold">Свирина Анастасия Геннадьевна</h3>
                <p>​Первый заместитель руководителя департамента анализа
                    данных и машинного обучения Финансового Университета при Правительстве РФ,
                    кандидат технических наук и доцент. Анастасия Геннадьевна принимает активное
                    участие в контроле качества и функциональности медиа-платформы, оказывает
                    помощь в реализации проекта.</p>
            </div>

        </div>
    </div>
</div>

<div class="site-footer" id="site-footer">

    <div class="footer-dots"></div>
    <div class="container">

        <div class="row">
            <div class="col-lg-4">
                <div class="widget about">
                    <h3>О нас<span class="text-primary"></span></h3>
                    <p>Projectoria - медиа-платформа для размещения проектов, созданная
                        в рамках курсовой работы.</p>
                </div>
            </div>

            <div class="col-lg-2 ml-auto">
                <div class="widget about">
                    <h3>Меню</h3>
                    <ul class="list-unstyled float-left links">
                        <li><a href="/templates/index.html">Главная страница</a></li>
                        <li><a href="/templates/signup.html">Регистрация</a></li>
                        <li><a href="/templates/signin.html">Войти</a></li>
                        <li><a href="#">Проекты</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-2">
                <div class="widget about">
                    <h3>Контакты</h3>
                    <address>Соболева Элина Петровна</address>
                    <ul class="list-unstyled links mb-4">
                        <li><a href="tel://89152496517">+7-915-249-65-17</a></li>
                        <li><a href="mailto:215797@fa.ru">215797@fa.ru</a></li>
                    </ul>
                </div>
            </div>

        </div>

        <div class="row mt-5">
            <div class="col-12 text-center">
                <p class="copyright">Copyright &copy; 2023. All Rights Reserved. &mdash; Designed by Elina Soboleva
                </p>
            </div>
        </div>
    </div>
</div>

</body>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</html>