<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="../../../../../../OneDrive/Рабочий%20стол/course%20work/src/css/bootstrap.min.css" rel="stylesheet" >
    <link href="../../../../../../OneDrive/Рабочий%20стол/course%20work/src/css/style.css" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Projectoria</title>
  </head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="100">

  <div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close">
        <span class="icofont-close js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div>
  
  <nav class="navbar navbar-expand-lg js-site-navbar">
    <div class="container-fluid">
      <a class="navbar-brand" href="/src/index.html">Projectoria</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false">
        <span><img class="menu-img" src="/src/icons/menu.svg"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="\src\index.html#about-us-block">О нас</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Проекты</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#site-footer">Контакты</a>
          </li>
        </ul>
        <ul class="site-menu navbar-nav ms-auto mb-2 mb-lg-0">
          <li class=" nav-item signin-button"><a href="/src/singin.html">Войти</a></li>
          <li class=" nav-item signup-button"><a href="/src/singnup.html">Регестрация</a></li>
        </ul>
      </div>
    </div>
  </nav>
  

<div class="untree_co-login-register">
  <div class="container">
   <div class="row justify-content-center">

    <div class="col-lg-5">
     <div class="custom-box" data-aos="fade-up" data-aos-delay="0">
       <h2 class="heading">Регистрация</h2>
       <form action="#">
         <div class="form-field">
           <label for="email">Электронная почта</label>
           <input type="email" class="form-control" id="email">
         </div>
         <div class="form-field">
           <label for="password">Пароль</label>
           <input type="password" class="form-control" id="password">
         </div>
         <div class="form-field">
           <label for="repassword">Подтвердить пароль</label>
           <input type="password" class="form-control" id="repassword">
         </div>
         <div class="form-field signup-page-button">
           <input type="submit" class="btn btn-primary btn-block" value="Зарегистрироваться">
         </div>
       </form>
     </div>
   </div>
 </div>
</div>
</div>

    

<div class="site-footer" id="site-footer">

  <div class="footer-dots"></div> 
  <div class="container signup-footer">

    <div class="row">
      <div class="col-lg-4">
        <div class="widget about">
          <h3>О нас<span class="text-primary"></h3>
            <p>Projectoria - медиа-платформа для размещения проектов, созданная
              в рамках курсовой работы.</p>
        </div>
      </div>

      <div class="col-lg-2 ml-auto">
        <div class="widget about">
          <h3>Меню</h3>
          <ul class="list-unstyled float-left links">
            <li><a href="\src\index.html">Главная страница</a></li>
            <li><a href="\src\singnup.html">Регистрация</a></li>
            <li><a href="\src\singin.html">Войти</a></li>
            <li><a href="#">Проекты</a></li>
          </ul>
        </div> 
      </div>  

      <div class="col-lg-2">
        <div class="widget about">
          <h3>Контакты</h3>
          <address>Соболева Элина Петровна</address>
          <ul class="list-unstyled links mb-4">
            <li><a href="tel://89152496517">+7-915-249-65-17</a></li>
            <li><a href="mailto:215797@fa.ru">215797@fa.ru</a></li>
          </ul>
        </div> 
      </div> 

    </div> 

    <div class="row mt-5">
      <div class="col-12 text-center">
        <p class="copyright">Copyright &copy;<script>document.write(new Date().getFullYear());</script>. All Rights Reserved. &mdash; Designed by  Elina Soboleva 
        </p>
      </div>
    </div>
  </div> 
</div> 


</body>

<script src="/src/js/bootstrap.bundle.min.js"></script>
</html>